@model ListModel<Book>

<div class="row mb-4">
    <div class="col-12">
        <div class="d-flex justify-content-between align-items-center">
            <h1>Книги</h1>
            <div class="col-3">
                <div class="border rounded p-2">
                    <ul class="nav">
                        <li class="nav-item dropdown">
                            <!-- Заголовок текущей категории -->
                            <a class="nav-link dropdown-toggle"
                               data-bs-toggle="dropdown"
                               href="#"
                               role="button"
                               aria-expanded="false"
                               id="currentCategoryName">
                                @(ViewData["currentCategory"]?.ToString())
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item category-link" data-category="" data-name="Все" href="#">Все</a>
                                </li>
                                @foreach (var item in (IEnumerable<Category>)ViewData["categories"])
                                {
                                    <li>
                                        <a class="dropdown-item category-link"
                                           data-category="@item.NormalizedName"
                                           data-name="@item.Name"
                                           href="#">@item.Name</a>
                                    </li>
                                }
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="bookListContainer">
    @await Html.PartialAsync("_BookListPartial", Model)
</div>
