@{
	var controller = ViewContext.RouteData.Values["controller"]?.ToString();
	var action = ViewContext.RouteData.Values["action"]?.ToString();
	var area = ViewContext.RouteData.Values["area"]?.ToString();
}


<a class="navbar-brand" href="#">LabsV03</a>
			<div class="navbar-nav">
				<a class="nav-item nav-link @(controller=="Home"?"active":"")" asp-controller="Home" asp-action="Index">Лб 1</a>
				<a class="nav-item nav-link @(controller=="Product"?"active":"")" asp-controller="Product" asp-action="Index">Каталог</a>
				<a class="nav-item nav-link @(area=="Admin"?"active":"")" asp-area="Admin" asp-page="/Index">Администрирование</a>
			</div>