@{
	var controller = ViewContext.RouteData.Values["controller"]?.ToString();
	var action = ViewContext.RouteData.Values["action"]?.ToString();
	var area = ViewContext.RouteData.Values["area"]?.ToString();
}


@await Component.InvokeAsync("Cart")


@{
    var isAuth = User.Identity?.IsAuthenticated ?? false;

	var username = User.Claims
		.FirstOrDefault(c => c.Type.Equals("preferred_username",
			StringComparison.OrdinalIgnoreCase))?.Value;

	var avatar = User.Claims
		.FirstOrDefault(c => c.Type.Equals("avatar",
			StringComparison.OrdinalIgnoreCase))?.Value;
}

@if (!isAuth)
{
    <div class="ms-4">
        <a asp-controller="Account" asp-action="Login" class="btn btn-primary">Login</a>
        <a asp-controller="Account" asp-action="Register" class="btn btn-secondary">Register</a>
    </div>
}
else
{
    <div class="dropdown ms-4 nav-color">
        <button class="btn btn-secondary dropdown-toggle"
                type="button" data-bs-toggle="dropdown">
            @username
            <img src="@avatar" width="30" class="rounded" />
        </button>

        <ul class="dropdown-menu">
            <li>
                <span class="dropdown-item-text">
                    <img src="@avatar" width="50" class="rounded" />
                    @username
                </span>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
                <form asp-controller="Account" asp-action="Logout" method="post">
                    <button type="submit" class="dropdown-item">Logout</button>
                </form>
            </li>
        </ul>
    </div>
}