version: '3.9'

services:
  redis:
    image: redis:7.2-alpine
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - postgres_network
    restart: unless-stopped

volumes:
  redis_data:
    driver: local

networks:
  postgres_network:
    driver: bridge
